.last{
    min-height: 572px;
    background: #F6F6F6;
    box-shadow: inset 0px 4px 23px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: -2;
    padding: 37px 0 47px 0;
    &__block{
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 40px;
        right: 0;
        left: 0;
        transition: 0.5s all;
    }
    // &__block-2{
    //     position: absolute;
    //     display: flex;
    //     justify-content: space-around;
    //     position: absolute;
    //     top: 40px;
    //     right: 0;
    //     left: 0;
    // }
    // &__block-3{
    //     display: flex;
    //     justify-content: space-around;
    //     position: absolute;
    //     top: 40px;
    //     right: 0;
    //     left: 0;
    // }
    &__one{
        width: 417px;
        margin-top: 97px;
    }
    &__title{
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #000000;
    }
    &__text{
        margin-top: 34px;
        font-size: 15px;
        line-height: 14px;
        color: #000000;
    }
    &__link{
        cursor: pointer;
    }
}